@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <CreateNewsletter />
    </Authorized>

    <NotAuthorized>
        <p>You're not authorized. Sign in/up to be allowed to use the page.</p>
    </NotAuthorized>
</AuthorizeView>