<AuthorizeView>
    <Authorized>
        <MudLink Href="Identity/Account/Manage">Hello, @SubStringName(context.User.Identity?.Name) !</MudLink>
        
        <form method="post" action="Identity/Account/Logout">
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Text">Log out</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton Color="Color.Primary" Variant="Variant.Text" Href="Identity/Account/Register">Register</MudButton>
        <MudButton Color="Color.Primary" Variant="Variant.Text" Href="Identity/Account/Login">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code{
    private string SubStringName(string name) => name.Substring(0, name.Length-15);
}